/* Structure */

body {
  height: 100vh;
  width: 100vw;
  margin:0;
  display: flex;
  flex-direction: column;
  background: #181818;
}

li {
  text-decoration: none
  color: white;
  display: inline;
}

footer {
  position: relative;
  color: gray;
  display: flex;
  font-size: 15px;
  height: 30px;
  justify-content: space-between;
  margin: 10px 20px;
}

#leftToolBar {
  width: 150px;
  margin: 10px;
  margin-top: 0px;
  position: relative;
}

#options {
  color: white;
  font-size: 15px;
}

#content {
  display: flex;
  flex-direction: row;
  height: 100%;
}

/* Toolbar */

bitmapper-toolbar {
  min-height: 60px;
}

/* Canvas */

#canvasViewport {
  flex: 1;
  overflow: auto;
  background: gray;
  width: 100%;
}

#canvasWrapper {
  cursor: none;
  position: relative;
  width: 0;
}

#canvasPlaceholder {
  background-image: url('images/transparent_bg_4squares.png');
}

#imageCanvas {
  pointer-events: none;
  position: absolute;
  left: 0;
  top: 0;
}

/* Tools */

.paletteContainer {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.paletteCell {
  border-radius: 40px;
  height: 32px;
  width: 32px;
  margin: auto;
  margin-bottom: 5px;
  border: 2px #26A69A solid;
}

/* Option Providers */

#eraser {
  background-image: url('images/eraser_40.png');
}

#shape {
  background-image: url('images/rect_40.png');
}

.infoLabel {
  color: white;
  position: absolute;
  left: 10px;
  bottom: 10px;
  display: inherit;
  width: 120px;
}

.cursorDiv {
  display: 'block';
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
}

#selectionCanvas {
  cursor: move;
  position: absolute;
  pointer-events: none;
}

#canvasDimensions {
  visibility: hidden;
}
